button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 60px; 
    height: 60px; 
    font-size: 24px; 
    border: 1px solid #ccc;
    background-color: #f9f9f9;
    cursor: pointer;
}

.container {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 20px;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 10px;
    align-items: center; 
}


.display {
    width: 270px;
    height: 60px; 
    margin-bottom: 20px; 
    border: 1px solid #ccc;
    background-color: #f9f9f9;
    display: flex;
    align-items: center;
    justify-content: flex-end; 
    padding: 0 10px;
    font-size: 24px; 
    color: #333;
    box-sizing: border-box; 
}



.first-row,
.second-row,
.third-row,
.fourth-row,
.fifth-row {
    display: flex;
    gap: 10px;
    justify-content: center; 
}


#equals {
    background-color: #4CAF50;
    color: white;
}

#clear, #backspace {
    background-color: #f44336;
    color: white;
}
